.label-container {
  max-width: 509px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 4px;
  position: relative;
}

.label-container__image {
  width: 24px;
  height: 24px;
}

.label-container__info {
  display: inline-block;
  position: absolute;
  min-width: 446px;
  top: 0;
  left: 50%;
  padding: 8px;
  color: #000;
  font-size: 16px;
  line-height: 125%;
  background-color: #C1DFF9;
  transform: translate(5%, -70%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  z-index: 1;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box;
}

.label-container__info_position_games {
  transform: translate(-50%, -175%);
  min-width: 370px;
}

.label-container__hint {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.label-container__hint:hover .label-container__info {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1599px) {
  .label-container__info {
    min-width: 344px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1151px) {
  .label-container__info {
    min-width: 230px;
    font-size: 8px;
    line-height: 12px;
    transform: translate(9%, -50%);
  }
}

@media screen and (max-width: 900px) {
  .label-container__info {
    transform: translate(-98%, 45%);
  }
}