.label-container {
  max-width: 509px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 4px;
  position: relative;
}

.label-container__image {
  width: 24px;
  height: 24px;
}

.label-container__info {
  display: inline-block;
  position: absolute;
  min-width: 446px;
  top: 0;
  left: 50%;
  padding: 8px;
  color: #000;
  font-size: 16px;
  line-height: 125%;
  background-color: #C1DFF9;
  transform: translate(5%, -70%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  z-index: 1;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

/* .label-container__info::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(8, 6, 23, 0.6);
  transform: translateX(-50%);
  border-top: 0px solid transparent;
  width: 0;
  height: 0;
} */

.label-container__hint {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.label-container__hint:hover .label-container__info {
  visibility: visible;
  opacity: 1;
}

