.input__container {
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 24px;
  margin-bottom: 4px;
  box-sizing: border-box;
  border: 2px solid #163B88;
}

.input_type_error {
  border: 2px solid #88161D;
}

@media screen and (max-width: 1599px) {
  .input {
    padding: 8px 12px;
  }
}

