.input__container {
  width: 100%;
}

.input {
  width: 100%;
  padding: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 2px solid rgba(22, 59, 136, 0.6);
  color: #748CDB;
  font-size: 20px;
}

.input:focus {
  outline: none;
  border: 2px solid #163B88;
}

.input_type_error {
  border: 2px solid #88161D;
}

.input_type_error:focus {
  border: 2px solid #88161D;
}

.input_type_donation {
  font-size: 40px;
  color: #163B88;
  text-align: center;

}

.input_type_donation::-webkit-outer-spin-button,
.input_type_donation::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_type_donation::placeholder {
  color: #163B88;
  text-align: left;
}

.input_type_donation:focus::placeholder {
  color: transparent;
}

@media screen and (max-width: 1919px) {
  .input_type_donation {
    font-size: 32px;
  }
}

@media screen and (max-width: 1365px) {
  .input_type_donation {
    font-size: 20px;
    max-height: 56px;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .input_type_donation {
    font-size: 16px;
    max-height: 48px;
  }
}

@media screen and (max-width: 599px) {
  .input {
    font-size: 16px;
  }
}