.mobile-menu {
  max-width: 436px;
  width: 100%;
  background-color: #fff;
  padding: 40px 24px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  position: relative;
}

.mobile-menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px;
  padding: 60px 0;
}

.mobile-menu__link {
  font-weight: bold;
}

.mobile-menu__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  border: none;
  background-color: rgba(22, 59, 136, 0.8);
  background-image: url(../../images/menuArrow.png);
  background-repeat: no-repeat;
  background-position: 60% 50%;
  padding: 0;
  box-sizing: border-box;
}

.mobile-menu__ext-button {
  border: none;
  padding: 0;
  background-color: #fff;
  margin-top: 30px;
  width: 40px;
  height: 44px;
  background-image: url(../../images/exitButton.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mobile-menu__ext-button:hover {
  background-image: url(../../images/hoveredExitButton.png);
}