.profile {
  flex: 1 1 auto;
  background-image: url(../../images/profileLeft.png), url(../../images/profileRight.png);
  background-repeat: no-repeat;
  background-size: 16%, 14%;
  background-position: 6% 87%, 95% 32%;
}

.profile__title {
  font-size: 100px;
  line-height: 100%;
}