.interview {
  gap: 75px;
  background-image: url(../../images/interviewLeft.png), url(../../images/interviewRight.png);
  background-repeat: no-repeat;
  background-position: 2% 11%, 97% 13%;
  background-size: 170px, 235px;
}

.interview__title {
  font-size: 100px;
  line-height: 100%;
}

.interview__subtitle-span {
  color: #748CDB;
}

.interview__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 80px;
  margin-bottom: 30px;
}

.interview__qa-container {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.interview__subtitle {
  font-size: 32px;
  line-height: 111%;
  font-weight: bold;
}

.interview__question-text {
  background-color: #E3E8F8;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  overflow-y: auto;
  padding: 12px 24px;
  height: 300px;
}

.interview__answer-text {
  background-color: #E4F1FD;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  overflow-y: auto;
  padding: 12px 24px;
  height: 300px;
}

.interview__answer {
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
  height: 0;
}

.interview__answer_type_visible {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.interview__mobile-buttons {
  display: none;
}

.interview__button {
  align-self: flex-end;
  padding: 12px 0;
  font-size: 20px;
  line-height: 160%;
  height: 80px;
}

.interwiew__button_type_wrong {
  background-color: #7990A3;
  color: #192D45;
}

.interwiew__button_type_right {
  justify-self: flex-end;
}

.interview__button_type_show-answer {
  justify-self: flex-end;
}

.interview__span {
  font-size: 20px;
  line-height: 136%;
  color: #748CDB;
}

.interview__button_type_mobile {
  display: none;
}

@media screen and (max-width: 1919px) {
  .interview {
    background-position: 2% 11%, 97% 13%;
    background-size: 135px, 180px;
  }
}

@media screen and (max-width: 1599px) {
  .interview {
    gap: 65px;
    background-position: 4% 4%, 98% 5%;
    background-size: 135px, 180px;
  }

  .interview__title {
    font-size: 80px;
  }

  .interview__content {
    max-width: 1080px;
    gap: 25px;
    grid-row-gap: 60px;
  }

  .interview__button {
    width: 368px;
  }

  .interview__qa-container {
    max-width: 530px;
    gap: 10px;
  }
}

@media screen and (max-width: 1365px) {
  .interview {
    background-position: 2% 3%, 98% 2%;
    background-size: 108px, 150px;
  }
}

@media screen and (max-width: 1279px) {
  .interview {
    gap: 40px;
  }

  .interview__title {
    font-size: 60px;
    line-height: 125%;
  }

  .interview__content {
    max-width: 75%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .interview__qa-container {
    max-width: 100%;
  }

  .interview__answer {
    order: 3;
  }

  .interview__button_type_desktop {
    display: none;
  }

  .interview__mobile-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    order: 4;
    margin-top: 15px;
  }

  .interview__button_type_mobile {
    display: block;
    order: 4;
    width: 372px;
  }

  .interview__button {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .interview {
    background-image: none;
  }

  .interview__button_type_mobile {
    width: 272px;
  }
}

@media screen and (max-width: 800px) {
  .interview {
    gap: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .interview__title {
    font-size: 28px;
    line-height: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .interview__content {
    gap: 15px;
    max-width: 100%;
  }

  .interview__qa-container {
    gap: 10px;
  }

  .interview__subtitle {
    font-size: 20px;
    line-height: 170%;
  }

  .interview__span {
    font-size: 16px;
    line-height: 170%;
    color: #748CDB;
  }

  .interview__answer-text {
    font-size: 16px;
    line-height: 138%;
    height: auto;
    min-height: 150px;
  }

  .interview__question-text {
    font-size: 16px;
    line-height: 138%;
    height: auto;
    min-height: 150px;
  }

  .interview__button {
    width: 278px;
    height: 68px;
    font-size: 16px;
    line-height: 100%;
  }
}