.form__label {
  width: 464px;
  position: relative;
  color: #163B88;
}

.form__label_position_games {
  width: 496px;
}

.form__label_position_donation {
  width: 496px;
  height: 84px;
  transform: translateX(18px);
}

@media screen and (max-width: 1599px) {
  .form__label {
    width: 410px;
  }
}

@media screen and (max-width: 1151px) {
  .form__label {
    width: 368px;
    font-size: 16px;
    line-height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .form__label {
    width: 284px;
  }
}