.submitButton {
  padding: 12px 9px;
  border: none;
  color: #fff;
  background-color: #748CDB;
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  min-width: 220px;
  box-sizing: border-box;
}

.submitButton_type_disabled {
  background-color: #B7CBFF;
}

@media screen and (max-width: 1599px) {
  .submitButton {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 200%;
    min-width: 200px;
  }
}

@media screen and (max-width: 1151px) {
  .submitButton {
    padding: 4px 20px;
  }
}

@media screen and (max-width: 1151px) {
  .submitButton {
    margin-bottom: 24px;
  }
}

