.submitButton {
  padding: 12px 9px;
  border: none;
  color: #fff;
  background-color: #748CDB;
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  min-width: 220px;
  box-sizing: border-box;
}

.submitButton_type_disabled {
  background-color: #B7CBFF;
}

