.input__error {
  font-size: 14px;
  line-height: 16px;
  color: #88161D;
  margin-bottom: 4px;
  display: block;
  width: 100%;
  text-align: left;
  visibility: hidden;
  height: 44px;
}

.input__error_type_visible {
  visibility: visible;
}

@media screen and (max-width: 1599px) {
  .input__error {
    font-size: 12px;
  }
}

@media screen and (max-width: 1151px) {
  .input__error {
    font-size: 10px;
    height: 34px;
  }
}

@media screen and (max-width: 900px) {
  .input__error {
    height: 28px;
  }
}