.preloader {
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

#path1 {
    animation: path1 1.5s linear infinite;
}

#path2 {
    animation: path2 1.5s linear infinite;
}

#path3 {
    animation: path3 1.5s linear infinite;
}

#path4 {
    animation: path4 1.5s linear infinite;
}

#path5 {
    animation: path5 1.5s linear infinite;
}

#path6 {
    animation: path6 1.5s linear infinite;
}

#path7 {
    animation: path7 1.5s linear infinite;
}

#path8 {
    animation: path8 1.5s linear infinite;
}

@keyframes path1 {
    0% {
        fill: #C1DFF9
    }

    11% {
        fill: #E3E3E3
    }

    22% {
        fill: #E3E3E3
    }

    33% {
        fill: #E3E3E3
    }

    44% {
        fill: #E3E3E3
    }

    55% {
        fill: #E3E3E3
    }

    66% {
        fill: #E3E3E3
    }

    77% {
        fill: #748CDB
    }

    88% {
        fill: #163B88
    }
}

@keyframes path2 {
    0% {
        fill: #748CDB
    }

    11% {
        fill: #C1DFF9
    }

    22% {
        fill: #E3E3E3
    }

    33% {
        fill: #E3E3E3
    }

    44% {
        fill: #E3E3E3
    }

    55% {
        fill: #E3E3E3
    }

    66% {
        fill: #E3E3E3
    }

    77% {
        fill: #E3E3E3
    }

    88% {
        fill: #163B88
    }
}

@keyframes path3 {
    0% {
        fill: #163B88
    }

    11% {
        fill: #748CDB
    }

    22% {
        fill: #C1DFF9
    }

    33% {
        fill: #E3E3E3
    }

    44% {
        fill: #E3E3E3
    }

    55% {
        fill: #E3E3E3
    }

    66% {
        fill: #E3E3E3
    }

    77% {
        fill: #E3E3E3
    }

    88% {
        fill: #E3E3E3
    }
}

@keyframes path4 {
    0% {
        fill: #E3E3E3
    }

    11% {
        fill: #163B88
    }

    22% {
        fill: #748CDB
    }

    33% {
        fill: #C1DFF9
    }

    44% {
        fill: #E3E3E3
    }

    55% {
        fill: #E3E3E3
    }

    66% {
        fill: #E3E3E3
    }

    77% {
        fill: #E3E3E3
    }

    88% {
        fill: #E3E3E3
    }
}

@keyframes path5 {
    0% {
        fill: #E3E3E3
    }

    11% {
        fill: #E3E3E3
    }

    22% {
        fill: #163B88
    }

    33% {
        fill: #748CDB
    }

    44% {
        fill: #C1DFF9
    }

    55% {
        fill: #E3E3E3
    }

    66% {
        fill: #E3E3E3
    }

    77% {
        fill: #E3E3E3
    }

    88% {
        fill: #E3E3E3
    }
}

@keyframes path6 {
    0% {
        fill: #E3E3E3
    }

    11% {
        fill: #E3E3E3
    }

    22% {
        fill: #E3E3E3
    }

    33% {
        fill: #163B88
    }

    44% {
        fill: #748CDB
    }

    55% {
        fill: #C1DFF9
    }

    66% {
        fill: #E3E3E3
    }

    77% {
        fill: #E3E3E3
    }

    88% {
        fill: #E3E3E3
    }
}

@keyframes path7 {
    0% {
        fill: #E3E3E3
    }

    11% {
        fill: #E3E3E3
    }

    22% {
        fill: #E3E3E3
    }

    33% {
        fill: #E3E3E3
    }

    44% {
        fill: #163B88
    }

    55% {
        fill: #748CDB
    }

    66% {
        fill: #C1DFF9
    }

    77% {
        fill: #E3E3E3
    }

    88% {
        fill: #E3E3E3
    }
}

@keyframes path8 {
    0% {
        fill: #E3E3E3
    }

    11% {
        fill: #E3E3E3
    }

    22% {
        fill: #E3E3E3
    }

    33% {
        fill: #E3E3E3
    }

    44% {
        fill: #E3E3E3
    }

    55% {
        fill: #163B88
    }

    66% {
        fill: #748CDB
    }

    77% {
        fill: #C1DFF9
    }

    88% {
        fill: #E3E3E3
    }
}