.footer {
  width: 100%;
  background-color: rgba(116, 140, 219, 0.2);
  padding: 30px 15px 15px;
  box-sizing: border-box;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.footer__copyright {
  color: #7990A3;
  text-align: center;
}

.footer__image {
  width: 64px;
  height: 64px;
  border-radius: 99em;
  transition: all 0.1s linear;
}

.footer__image:hover {
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 0;
}

@media screen and (max-width: 1365px) {
  .footer {
    padding: 16px 16px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 6px 6px;
  }
  .footer__content {
    gap: 8px;
  }

  .footer__image {
    width: 48px;
    height: 48px;
  }
}