.duel {
  max-width: 1740px;
  padding-top: 10px;
  gap: 10px;
  background-image: url(../../images/duelLeft.png), url(../../images/duelRight.png);
  background-repeat: no-repeat;
  background-size: 240px, 280px;
  background-position: 0% 19%, 100% 21%;
  position: relative;
}

.duel__title {
  font-size: 60px;
  line-height: 100%;
}

.duel__subtitle {
  font-size: 36px;
  line-height: 40px;
}

/* .duel__content {
  display: grid;
  grid-template-columns: 660px 660px;
  column-gap: 120px;
  row-gap: 60px;
} */

.duel__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1560px;
  width: 100%;
}

.duel__question-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.duel__question {
  width: 100%;
  max-width: 770px;
  background-color: #E3E8F8;
  padding: 12px 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  height: 300px;
  overflow: auto;
  box-sizing: border-box;
}

.duel__answer-button_type_disabled {
  opacity: 0.6;
}

.duel__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.duel__player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.duel__players {
  display: flex;
  gap: 260px;
  justify-content: center;
  align-items: center;
}

.duel__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.duel__player_type_left {
  transform: rotate(-10deg);
}

.duel__player_type_right {
  transform: rotate(10deg);
}

.duel__player-score_type_result {
  background-color: #7990A3;
  color: #163B88;
}

.duel__player-name {
  font-size: 24px;
  line-height: 44px;
  text-align: center;
}

.duel__player-name_type_left {
  color: #748CDB;
}

.duel__player-name_type_right {
  color: #163B88;
}

.duel__player-score {
  width: 160px;
  height: 160px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  box-sizing: border-box;
}

.duel__player-score_type_left {
  border: 12px solid #C1DFF9;
  background-color: #C1DFF9;
  color: #163B88;
}

.duel__player-score_type_right {
  border: 12px solid #748CDB;
  background-color: #748CDB;
  color: #C1DFF9;
}

.duel__player-score_type_active  {
  border: 12px solid #163B88;
}

.duel__player-score_type_double {
  font-size: 70px;
}

.duel__player-decrement {
  padding: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 100px;
  line-height: 100%;
  width: 60px;
  height: 40px;
  box-sizing: border-box;
  background-color: #fff;
  color: #C1DFF9;
  border: 4px solid #748CDB;
}

.duel__player-decrement_type_active {
  border-color: #163B88;
}

.duel__player-decrement_type_left {
  transform: translateY(80%) rotate(-10deg);
}

.duel__player-decrement_type_right {
  transform: translateY(80%) rotate(10deg);
}

.duel__answer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.duel__answer {
  width: 100%;
  max-width: 770px;
  padding: 12px 24px;
  background-color: #fff;
  height: 300px;
  overflow: auto;
  border: 2px solid #3B3E45;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0);
}

.duel__answer_type_visible {
  color: #86888F;
}

.duel__lang {
  position: absolute;
  top: 22%;
  left: 88%;
  width: 140px;
}

.duel__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.duel__labels {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.duel__label {
  width: 160px;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #748CDB;
  box-sizing: border-box;
  font-weight: normal;
  cursor: pointer;
  border: 4px solid #748CDB;
  font-size: 100px;
}

.duel__label_type_active {
  border-color: #163B88;
  color: #163B88;
}

.duel__no-one {
  background-color: #ACBAC6;
  width: 344px;
  font-size: 20px;
  height: 56px;
  font-weight: bold;
  border: none;
  color: #163B88;
}

.duel__no-one_type_disabled {
  background-color: #CDD6DD;
}

.duel__no-one_type_disabled:hover {
  border: none;
}

.duel__input {
  display: none;
}

.duel__buttons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 1196px;
}

.duel__link {
  text-decoration: none;
}